Checks: >
  *,
  -altera-*,
  -fuchsia-*,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -modernize-use-trailing-return-type,
  -readability-redundant-access-specifiers,
  -readability-redundant-string-init

WarningsAsErrors: '*'

CheckOptions:
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-identifier-naming.NamespaceCase
      value: lower_case
    - key: readability-identifier-naming.TemplateParameterCase
      value: CamelCase
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.StructCase
      value: CamelCase
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.TypeAliasCase
      value: CamelCase
    - key: readability-identifier-naming.ConstantCase
      value: camelBack
    - key: readability-identifier-naming.EnumConstantCase
      value: camelBack
    - key: readability-identifier-naming.FunctionCase
      value: camelBack
    - key: readability-identifier-naming.MethodCase
      value: camelBack
    - key: readability-identifier-naming.ParameterCase
      value: camelBack
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.StaticMemberCase
      value: camelBack
    - key: readability-identifier-naming.MemberCase
      value: camelBack

    - key: readability-identifier-naming.PrivateMemberSuffix
      value: '_'
